name: Build and Push Container
on:
  pull_request:
    branches: 
      - main
  workflow_dispatch:
    inputs:
        version:
            description: 'Version to build'
            required: true
            default: 'latest'
        push:
            description: 'Push to registry'
            required: true
            default: 'false'
  release:
    types:
        - published

permissions:
  contents: write
  packages: write
  id-token: write
jobs:
    build:
        name: Build Container
        runs-on: ubuntu-latest
    
        steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: 'Login to GitHub Container Registry'
          uses: docker/login-action@v1
          with:
            registry: ghcr.io
            username: ${{github.actor}}
            password: ${{secrets.GITHUB_TOKEN}}
    
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v2
    
        - name: Build and push Docker image auto
          uses: docker/build-push-action@v4
          if: github.event_name != 'release' && github.event_name != 'workflow_dispatch'
          with:
            context: .
            push: false
            tags: ghcr.io/${{ github.repository }}:${{ github.sha }}

        - name: Build and push Docker image on workflow_dispatch
          if: github.event_name == 'workflow_dispatch'
          uses: docker/build-push-action@v4
          with:
            context: .
            push: ${{ github.event.inputs.push }}
            tags: ghcr.io/${{ github.repository }}:${{ github.event.inputs.version }}

        - name: Build and push Docker image on release
          if: github.event_name == 'release'
          uses: docker/build-push-action@v4
          with:
            context: .
            push: true
            tags: ghcr.io/${{ github.repository }}:${{ github.event.release.tag_name }}